body {
	
}
h1 {
	text-align: center;
	font-family: Verdana, Arial, sans-serif;
	color: steelblue;
	font-size: 80%;
}
footer {margin: auto; text-align: center;}
#calc {
	margin: 2% auto;
	width: 279px;
	border: 1px solid lightgray;
	text-align: center;
	padding: 10px;
	background: white;
	background: linear-gradient(#f0f0f0, white, #f0f0f0);
	box-shadow: 0 6px 11px #aaa;
}
input {
	width: 86%;
	height: 2em;
	font-size: 2em;
	border: 0.3em double lightgray;
	overflow: hidden;
	font-family: 'VT323', monospace;
	text-align: right;
	margin-bottom: 0.5em;
	padding-right: 0.2em;
	font-weight: lighter;
	box-shadow: 0 0 13px 0px inset #c6c6c6;
}
.fila-1 button,
.fila-2 button,
.fila-3 button
 {
	width: 30%;
}
.fila-1 button,
.fila-2 button,
.fila-3 button,
.fila-4 button
 {
	margin: auto;
	text-align: center;
	display: inline;
	font-family: monospace;
	font-size: 2.5em;
	height: 1.5em;
	border-bottom: 2px solid #bcbcbc;
	border-right: 2px solid #bcbcbc;
	margin: 0.05em;
	color: #777;
	text-shadow: .8px .5px 0.7px #fff;
	background-color: #cfcece;
	border-radius: 5px;
}
.fila-4 button {
	width: 93%;
}