@font-face {
    font-family: digital-dream;
    src: url('https://cdn.rawgit.com/stoeffel/Tetris/f1cce798/resources/fonts/Digital-dream-fontfacekit/DIGITALDREAM-webfont.woff') format('woff'),
         url('https://cdn.rawgit.com/stoeffel/Tetris/f1cce798/resources/fonts/Digital-dream-fontfacekit/DIGITALDREAM-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html,body {height: 100%;}
body {
  background-color: white;
  color: #444;
  font-family: Verdana, Arial;
  display: flex;
  justify-content: center;
}
#crono {
  position: relative; 
  width: 45%; 
  left: 0;
  top: 42%;
  font-family: digital-dream,Arial,sans-serif;
  font-size: 265%;
  color: #000;
  border: #898888 3px double;
  padding: 7px;
  border-radius: 5px;
  background-color: #FFF;
  box-shadow: 0px 2px 3px #000;
}