
@font-face {
    font-family: digital-dream;
    src: url('https://cdn.rawgit.com/stoeffel/Tetris/f1cce798/resources/fonts/Digital-dream-fontfacekit/DIGITALDREAM-webfont.woff') format('woff'),
         url('https://cdn.rawgit.com/stoeffel/Tetris/f1cce798/resources/fonts/Digital-dream-fontfacekit/DIGITALDREAM-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,body {height: 100%;}

body {
  font-family: Tahoma, Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
  color: #333333;
}
#contenedor {
  margin: 0 auto;
}
h1,h2 {
  margin: 10px 0 10px 0;
  font-weight: 300;
  font-size: 2em;
  font-weight: bold;
}
p {
  font-size: .9em;
  padding: 0 5px;
}

#fondo {
   background-image: url("digital-011.png");
   background-repeat: no-repeat;
   background-position: center top;
   background-size: 100%;
   width: 320px;
   height: 450px;
   margin: 0 auto;
}

.center-text {
  position: relative; 
  width: 45%; 
  left: 0;
  top: 37%;
  font-family: digital-dream,Arial,sans-serif;
  font-size: 265%;
  color: #000;
}

#botones {
  visibility: visible;
}

#info{
  font-size: .9em;
}

button  {
  height: 35px;
  margin: 0px auto;
}
 