@font-face {
    font-family: digital-dream;
    src: url('https://cdn.rawgit.com/stoeffel/Tetris/f1cce798/resources/fonts/Digital-dream-fontfacekit/DIGITALDREAM-webfont.woff') format('woff'),
         url('https://cdn.rawgit.com/stoeffel/Tetris/f1cce798/resources/fonts/Digital-dream-fontfacekit/DIGITALDREAM-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html,body {height: 90%;}
body {
  background-color: #f7f8f8;
  color: #444;
  font-family: Verdana, Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#crono {
  font-family: digital-dream, monospace, Arial, sans-serif;
  font-size: 3em;
  border: #898888 3px double;
  padding: 15px;
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 0px 2px 3px #000;
  text-shadow: 1px 2px 3px #888;
}
.grande { 
  display: block;
  margin: auto;
}
.grande p {
  max-width: 320px;
  margin: 1em auto;
}
#mano2, #mano1 {
  display: none;
  margin: auto;
}
@media screen and (max-width: 768px) {
    .grande {
        display: none;
    }
    #mano2, #mano1 {
      display: block;
    }
}